In [ ]:
print("hello world")

hello world

In [ ]:
startCoding ="9/6/2025"

In [ ]:
from typing_extensions import Type
#Snake Case Variables

start_coding_with_alice = "9/6/2025"

#Pascal Case Variables

StartCodingWithAlice = "9/6/2025"

#Built-in Data Types

#Text type: str

#Numeric types: int, float, complex
#Sequence Types: list, tuple, range
#Set Types: set, frozen
#Boolean Type: bool
#Binary Type: bytes, bytearray, memoryview
#None Type:None type
#Mapping Type: dictionary key

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = dict(name = "John", age=36 )

In [ ]:
a = 'Hello'
print(a)

Hello

In [ ]:
greeting = "Hello World"

print(greeting)

Hello World

In [ ]:
sum = 12+45
print (sum)

57

In [ ]:
paragraph = """ At the end of it all we are going to make it in life God is in control"""
print(paragraph)

 At the end of it all we are going to make it in life God is in control

In [ ]:
paragraph ="""Lorem ipsum dolor sit amet,
consectetur adipisc
ing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(paragraph)

Lorem ipsum dolor sit amet,
consectetur adipisc
ing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
fruit = "Banana"

for x in fruit:
    print(x)

print(fruit)

B
a
n
a
n
a
Banana

In [ ]:
fruit = "Banana"
print(len(fruit))

6

In [ ]:
b = "Hello, World!"
print(b[2:5])

print(b[:5])

print(b[2:])

print(b[-5:-2])
print(b[:-5])

llo
Hello
llo, World!
orl
Hello, W

In [ ]:
a = "Hello"
b = "World"
Greetings = a+b
print (Greetings)

text = "hello, and welcome to my world"
x = text.capitalize()
print(x)

HelloWorld
Hello, and welcome to my world

In [ ]:
# string count
# returns the number of times a specified value occurs in a string

text = "I love apples,apple are my favourite fruit"
x = text.count("apple")
print(x)

2

In [ ]:
print ("hello world")

hello world

In [ ]:
x +=3
print(x)

# Comparison operators are used to compare two values:

# == Equal
# != Not equal
# > Greater than
# < Less than
# >= Greater than or equal to
# <= Less than or equal to

x = 7
x == 3

11

False

In [ ]:
x = 3
x == 3

# Logical operators are used to combine conditional statements:

# and Returns True if both statements are true
# or Returns True if one of the statements is true
# not Reverse the result, returns False if the result is true

True

In [ ]:
x = 20

x = 10 < 5 and 5 < 10
print(x)

x < 5 and x < 10


x < 5 or x > 10

False

True

In [ ]:
 x = 1

 not(x < 5 and x < 10)


#  python identinty operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

# # is Returns True if both variables are the same object
# # is not Returns True if both variables are not the same object


# python membership operators are used to test if a sequence is presented in an object:

# in Returns True if a sequence with the specified value is present in the object
# not in Returns True if a sequence with the specified value is not present in the object


# bitwise operators are used to compare (binary) numbers:

# &    AND    Sets each bit to 1 if both bits are 1
# |    OR     Sets each bit to 1 if one of two bits is 1
# ^    XOR    Sets each bit to 1 if only one of two bits is 1
# ~    NOT    Inverts all the bits


# operator precedence describes the order in which operations are performed.

# the precedence order is described in the table below, starting with the highest precedence at the top:
# () parantheses
# ** Exponentiation
# +x, -x, ~x Unary plus, unary minus, bitwise NOT
# *, /, //, % Multiplication, division, floor division, modulus

# if two operators have the same precedence, the expression is evaluated from left to right.

False

In [ ]:
print (5+4-7+3)

5

In [ ]:
     # LECTURE 3
# python data structures

# LISTS, TUPLES, SETS, DICTIONARIES AND ARRAYS

# Lists are used to store multiple items in a single variable.

# Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

# list_name = ["item1", "item2", "item3"]

fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)
print(fruits)

# List items are ordered, changeable, and allow duplicate values.

# List items are indexed, the first item has index [0], the second item has index [1] etc.

apple
banana
cherry
['apple', 'banana', 'cherry']

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars.append("Honda")

print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
x = cars[0]
y = cars[1]
z = cars[2]
print(x)
print(y)
print(z)

# list items are ordered, mutable, and allow duplicate values
# Lists items are indexed, the first item has index [0], the second item has index [1] etc

# list length
# to determine how many items a list has, use the len() function

print(len(cars))

cars[2] = "Toyota"
print(cars)

Ford
Volvo
BMW
3
['Ford', 'Volvo', 'Toyota']

In [ ]:
#creating a list using a list contractor
cars = list(("Ford", "Volvo", "BMW"))
print(cars)

['Ford', 'Volvo', 'BMW']

In [ ]:
# DICTIONARY IN PYTHON

#dictionaries are used to store data values in key: value pairs
# a dictionary is a collection which is ordered , changeable and do not allow duplicates
# Dictionaries are written with curly brackets, and have keys and values

# create and print a dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

# syntax
 dictionary_name = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
 }

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
CAR = dict(brand="Ford", model="Mustang", year=1964)
print(CAR)

# TUPPLES IN PYTHON
# TUPLES ARE USED TO STORE MULTIPLE ITEMS IN A SINGLE VARIABLE
thistuple = ("apple", "banana", "cherry")
print(thistuple)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
('apple', 'banana', 'cherry')

In [ ]:
tuple_name = ("item1", "item2", "item3")
print(tuple_name)
#  tuple items are ordered and unchangeable. Allows duplicate values.

In [ ]:
#creatng tuple

fruits = ("apple", "banana", "cherry")
print(fruits)

# tuple items - data types
# tuple items can be of any data type : string, int and boolean data types
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

('apple', 'banana', 'cherry')
<class 'tuple'>